<%-contentFor('body')%>
<div class="row-fluid">
  <div>
    <div class="col-content">
        <div id="howWeBuildFirstNet">
            <h1>How will we build FirstNet</h1>
            <section class="contentCard" id=ActOfCongress>
                <a href="#Act"></a>
                <h2>Some things take an Act of Congress</h2>
                <img src="/img/Act Title Page.png" style="max-width:50%; float:right; margin:2%; border:outset 2px #999" alt="title page of the Act that created FirstNet"></img>
                <p>Title VI of the Middle Class Tax Relief and Job Creation Act of 2012 provided three important things:</p>
                <ol>
                    <li>
                        <h3>Spectrum</h3>
                        <ul>
                            <li>
                                Allocated the “D-Block” to public safety
                            </li>
                            <li>
                                Added 20MHz (10x10 MHz) to existing Public Safety Frequencies
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>Governance</h3>
                        <ul>
                            <li>
                                Created the FirstNet Board
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>Funding</h3>
                        <ul>
                            <li>
                                $7B for deployment and operations
                            </li>
                            <li>
                                $135M for state implementation planning 
                            </li>
                        </ul>
                    </li>
                </ol>
            </section>
        </div>
        <section class="contentCard" id="nationalProcess">
            <a href="#NationalProcess"></a>
            <h2>The Process Nationally</h2>
            <img src="/img/NationalProcess.png" alt="flow chart of the National FirstNet state consultation process."></img>
            <p>
                Image above taken from FirstNet.gov. For more on the national consultation process, please visit -  <a href="http://firstnet.gov/consultation">FirstNet.gov</a> 
            </p>
        </section>
         <section class="contentCard" id="MarylandProcess">
            <a href="#MarylandProcess"></a>
            <h2>The Process in Maryland</h2>
            <img src="/img/MDProcess.jpg"  style="margin:2%" alt="flow chart of Maryland's FirstNet consultation process."></img>
            <p>
                In Maryland the process of getting to a final plan for the deployment and operation of the network will involve:
            </p>
            <ol>
                <li>
                    <b>Collecting stakeholder thoughts</b>, ideas, feedback and comments through active and ongoing <b>outreach</b>;
                </li>
                <li>
                    Turning the data shared by stakeholders into <b>actionable information</b> that can be used to create the plan for FirstNet deployment and operation in Maryland; and finally
                </li>
                <li>
                    Sharing that data through a process called <b>"consultation"</b> with the federal FirstNet team, so they can work interactively with Maryland to develop a <b>final plan</b> that meets the needs of Maryland's first responders.                         
                </li>
            </ol>
        </section>
    </div>
  </div>
</div>
