<%-contentFor('body')%>
<div class="row-fluid">
  <div>
    <div class="col-content">
      <h1>Create Event</h1>

      <section id="contentCard">
        <form action="create" method="post" class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="Name">Name</label>
            <div class="controls">
              <input type="text" name="Name" placeholder="Event Name"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="Name">Description</label>
            <div class="controls">
              <input type="text" name="Description" placeholder="Description"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="Start">Start</label>
            <div class="controls">
              <input type="text" name="Start" id="start-datetime-picker" placeholder="Start date time"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="End">End</label>
            <div class="controls">
              <input type="text" name="End" id="end-datetime-picker" placeholder="End date time"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="Status">Status</label>
            <div class="controls">
              <input type="text" name="Status" placeholder="Status" value="Created"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="Location">Location</label>
            <div class="controls">
              <input type="text" name="Location" placeholder="Where does this take place?"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="Note">Note</label>
            <div class="controls">
              <textarea name="Note" placeholder="Notes to attendees"></textarea>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="Instruction">Instruction</label>
            <div class="controls">
              <input type="text" name="Instruction" placeholder="Special instructions"/>
            </div>
          </div>
         <!-- <div class="control-group">
            <label class="control-label" for="Agenda">Agenda</label>
            <div class="controls">
              <input type="text" name="Agenda" placeholder="Agenda if available"/>
            </div>
          </div>-->
          <!--<div class="control-group">
            <label class="control-label" for=""></label>
            <div class="controls">
              <input type="text" name="" placeholder=""/>
            </div>
          </div>-->
          <div class="form-actions">
            <input class="btn btn-primary btn-small" type="submit" value="Create"/>
            <a class="btn btn-default btn-small" href="index">Cancel</a>
          </div>
        </form>
      </section>
      
    </div>
  </div>
</div>
<link href="/js/lib/bootstrap-datetime-picker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="/js/lib/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
  $(function() {
    $('#start-datetime-picker, #end-datetime-picker').datetimepicker({
      format: 'mm/dd/yyyy HH:ii P',
      showMeridian: true,
      autoclose: true,
      todayBtn: true
    });
  });
</script>
