<%-contentFor('body')%>
<div class="row-fluid">
  <div>
    <div class="col-content">
      <h1>Event Details</h1>

      <section class="contentCard">
         
        <h2><%= data.Name %> - <small><%= data.Status %></small></h2>
       
        <p>
          <strong>Description:</strong> <%= data.Description %>
          <br />
          <strong>Date:</strong> <%= data.StartDate %><br />
          <strong>Start:</strong> <%= data.StartTime%><br />
          <strong>End:</strong> <%= data.EndTime%><br />
          <strong>Location:</strong> <%= data.Location %><br />
          <br />
          <strong>Note</strong><br />
          <%= data.Note %>
          <br />
          <strong>Instruction</strong><br />
          <%= data.Instruction %>
          <br />

          <% if (data.Agenda != null) { %>
          <strong>Agenda</strong>
          <a href="#"><%= data.Name %>-agenda</a>
          <% } %>
        </p>
        <div class="">
          <small><a href="update?id=<%= data.EventID%>" title="Edit event details">Update</a></small> |
          <small><a href="delete?id=<%= data.EventID%>" title="Edit event details">Delete</a></small> |
          <small><a href="index">Back to Calendar</a></small>
        </div>
      </section>

    </div>
  </div>
</div>
