<%-contentFor('body')%>
<div class="row-fluid">
  <div>
    <div class="col-content">      
      <h1>Events Calendar         
        <span class="pull-right">
          <a class="btn btn-default btn-sm" href="create" title="Sign-in required"><i class="fa fa-plus"></i>&nbsp;Create Event</a>
        </span>
      </h1>

      <div id="event-calendar">
      </div>

    </div>
  </div>
</div>
<%- include templates.html %>
<!--Scripts-->
<script src="../js/lib/underscore/underscore.js"></script>
<script src="../js/lib/backbone/backbone.js"></script>
<script src="../js/lib/backbone-addon/application.js"></script>
<script src="../js/dist/Firstnet-index.js"></script>
<script type="text/javascript">
  $(function() {
    if (typeof startup == 'function')
      startup();
  });
</script>
