<script type="text/template" id="calendar-tpl">

  <div class="wrapper">
    <div class="controls pull-right">
      <a id="prev-month" href="#">Prev</a>
      &nbsp; | &nbsp;
      <a id="next-month" href="#">Next</a>
    </div>
    <div class="calendar">
      {{ html }} 
    </div>
  </div>
</script>

<script type="text/template" id="calendar-event-tpl">
  {[
        var startTime = new Date(Start).toShortTimeString();
        var endTime = new Date(End).toShortTimeString();
  ]}
  <div id="event-{{ Name }}">

    <div>
      <a href="event?id={{ EventID }}">
        <strong>{{ Name }}</strong>
      </a>
    </div>
    <p class="muted">
      {{startTime}}&nbsp;-&nbsp;{{ endTime }}
    </p>
    <p>{{Status}}</p>
  </div>
</script>
