<%-contentFor('body')%>
<div class="row-fluid">
  <div>
    <div class="col-content">
      <h1>Update Event</h1>

      <section id="contentCard">
        <form action="update" method="post" class="form-horizontal">
          <input type="hidden" name="EventID" value="<%= data.EventID %>" />
          <div class="control-group">
            <label class="control-label" for="Name">Name</label>
            <div class="controls">
              <input type="text" name="Name" placeholder="Event Name" value="<%= data.Name %>" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="Name">Description</label>
            <div class="controls">
              <textarea name="Description" placeholder="Description" class="input-xlarge"><%= data.Description %></textarea>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="Start">Start</label>
            <div class="controls">
              <div class="input-append date input-xlarge" id="start-datetime-picker"
                data-date-format="mm/dd/yyyy HH:ii P">
                <input class="span10" size="16" type="text" name="Start" value="<%= data.Start %>">
                <span class="add-on"><i class="icon-th"></i></span>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="End">End</label>
            <div class="controls">
              <div class="input-append date input-xlarge" id="end-datetime-picker"" 
                data-date-format="mm/dd/yyyy HH:ii P">
                <input class="span10" size="16" type="text"" name="End" value="<%= data.End %>">
                <span class="add-on"><i class="icon-th"></i></span>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="Status">Status</label>
            <div class="controls">
              <input type="text" name="Status" placeholder="Status" value="<%= data.Status %>" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="Location">Location</label>
            <div class="controls">
              <input type="text" name="Location" placeholder="Where does this take place?" value="<%= data.Location%>" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="Note">Note</label>
            <div class="controls">
              <textarea name="Note" placeholder="Notes to attendees" class="input-xlarge"><%= data.Note %></textarea>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="Instruction">Instruction</label>
            <div class="controls">
              <textarea name="Instruction" placeholder="Special instructions" class="input-xlarge"><%= data.Instruction %></textarea>
            </div>
          </div>
          <!-- <div class="control-group">
            <label class="control-label" for="Agenda">Agenda</label>
            <div class="controls">
              <input type="text" name="Agenda" placeholder="Agenda if available"/>
            </div>
          </div>-->
          <!--<div class="control-group">
            <label class="control-label" for=""></label>
            <div class="controls">
              <input type="text" name="" placeholder=""/>
            </div>
          </div>-->
          <div class="form-actions">
            <input class="btn btn-primary btn-small" type="submit" value="Update" />
            <a class="btn btn-default btn-small" href="index">Cancel</a>
          </div>
        </form>
      </section>

    </div>
  </div>
</div>
<link href="/js/lib/bootstrap-datetime-picker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="/js/lib/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
  $(function() {
    $('#start-datetime-picker').datetimepicker({
      format: 'mm/dd/yyyy HH:ii P',
      showMeridian: true,
      autoclose: true,
      todayBtn: true
      //startDate: new Date('<%= data.Start %>')
    });
    $('#end-datetime-picker').datetimepicker({
      format: 'mm/dd/yyyy HH:ii P',
      showMeridian: true,
      autoclose: true,
      todayBtn: true,
      //startDate: new Date('<%= data.End %> ')
    });

  });
</script>
