#mdgov_agencyTitle a {
  color: #FFF;
  text-decoration: none;
  font-size: 50px;
}
img.logo {
  max-width: 100px;
}
img#consultation {
  max-width: 250px;
  padding: 0 10px;
}
img#interoperability {
  max-width: 350px;
  padding: 0 5px;
  background: black;
}
.content-block {
  background-color: #ffffff;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.col-content {
  margin: 20px 0 0 20px;
  padding: 10px 20px;
  background: #ffffff;
  border-left: 1px solid #ccc;
  min-height: 100%;
}
.secondary-content-block {
  background: #eeeeee;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.governor-block {
  margin: 20px 0 20px 20px;
}
