#mdgov_agencyTitle a {
  color: #FFF;
  text-decoration: none;
  font-size: 50px;
}
img.logo {
  max-width: 100px;
}
img#consultation {
  max-width: 250px;
  padding: 0 10px;
}
img#interoperability {
  max-width: 350px;
  padding: 0 5px;
  background: black;
}
img.in-text {
  max-width: 380px;
  padding: 0 10px;
}
.content-block {
  background-color: #ffffff;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.col-content {
  margin: 20px 0 0 20px;
  padding: 10px 20px;
  background: #ffffff;
  border-left: 1px solid #ccc;
  min-height: 100%;
}
.secondary-content-block {
  background: #eeeeee;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.governor-block {
  margin: 20px 0 20px 20px;
}
/*Override agency-styles.css*/
.headerBgImg {
  background-image: url(../img/Banner.jpg) !important;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}
.rslideshow {
  margin-bottom: 30px;
}
.rslideshow h1 {
  font-size: 28px;
}
#agency-logos {
  text-align: center;
}
#agency-logos li {
  margin-right: 40px;
  margin-bottom: 10px;
}
/*Custom Styles*/
/*Content Cards*/
.contentCard {
  background-color: #fff;
  box-shadow: 4px 5px 10px 0 #223;
  margin: 4rem auto;
  max-width: 800px;
  padding: 2rem;
  position: relative;
  width: 80%;
}
h3 {
  font-size: 1.2em;
}
