<%-contentFor('body')%>
<div class="row-fluid">
  <div>
    <div class="col-content">
      <div id="whyNeedFirstNet">
        <h1>Why we need FirstNet - The Project Basics</h1>
        <div class="contentCard">
            <h2>
                Project Vision
            </h2>
            <p>
                Provide emergency responders with the first nationwide, high-speed, wireless broadband network dedicated to public safety.
            </p>
        </div>
        <div class="contentCard">
            <h2>Why we need FirstNet</h2>
            <p>
              Smart phones, tablets, and other Internet connected devices have revolutionized the way that everyday people communicate, navigate, and interact with their world.
              App developers, hardware producers, and web developers have made us better our jobs, faster to respond, and more connected to our world than ever before.
            </p>
            <p>
              <strong>
                However, all of these amazing changes haven't been enjoyed by everybody - America's first responders can't rely on tablets, smart phones, or other connected devices.</strong>
              <strong>
                Why Not?
              </strong>
            </p>
            <h3>Why aren't all first responders using wireless broadband today?</h3>
            <h4>
              Simply put: <u>commercial networks aren't reliable enough to depend on during an emergency.</u>
            </h4>
            <table>
              <tr>
                <td>
                  <p style="width:70%">
                    <strong>
                    Commercial networks crash when too many users attempt to access the network.
                    </strong>
                  </p>
                </td>
                <td>
                  <img src="/img/Earthquake.jpg" style="width:50%"></img>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="/img/Tornado.jpg" style="width:100%"></img>
                </td>
                <td>
                  <p style="width:50%; margin:2%">
                    <strong>
                    Commercial networks' physical infrastructure can become damaged during server weather like Katrina and
                Sandy.
                    </strong>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p style="width:70%">
                    <strong>
                    Commercial devices don't sand-up to first responder use.
                    </strong>
                  </p>
                </td>
                <td>
                  <img src="/img/MeltedPhone.jpg" style="width:50%"></img>
                </td>
              </tr>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
