<%-contentFor('body')%>
<div class="row-fluid">
  <div class="span3">
    <section id="subNav1" class="primary_left_col_list">
      <!-- Step 14: Quick Nav menu 1 -->
      <header>
        <h2 data-target="subNav1">Overview</h2>
      </header>
      <div class="subNavWrapper">
        <ul class="cl_iconNav">
          <li><a href="#section1">SEIC's Responsibilities</a></li>
          <li><a href="#section2">Western Interoperability Region (WAGIN)</a></li>
          <li>
            <a href="#section3">Northern Interoperability Region - Central Maryland Area Radio Communications</a>
          </li>
          <li>
            <a href="#section4">Southern Interoperability Region - Southern Maryland Interoperable Executive </a>
          </li>
          <li>
            <a href="#section5">Eastern Interoperability Region – Eastern Shore Communications Alliance </a>
          </li>
          <li><a href="#section6">SEIC Membership</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="span9">
    <div class="col-content">
      <div>
        <h3>Maryland's Statewide Interoperable Executive Committee (SEIC)</h3>
        <p>
          Planning for FirstNet in Maryland will involve reaching out to stakeholders, potential users, and decision
          makers throughout the state (here's more about that Process)​. Luckily, Maryland has already invested
          in establishing a robust public safety communications governance structure that can be leveraged.  
        </p>
        <p>
          On July 10, 2008, Governor Martin O’Malley signed an Executive Order (PDF: Executive Order.pdf) formally
          establishing Maryland’s Statewide Interoperability Executive Committee (SIEC) along with its Practitioner
          Steering Committee (PSC). The Superintendent of the Maryland State Police chairs the SIEC. The SIEC
          is comprised of senior elected and appointed officials from State, county, and municipal governments
          who are appointed by the Governor for up to two two-year terms. Public safety unions and associations,
          such as the Maryland State Fireman’s Association, the Maryland Chiefs of Police, and the Maryland Association
          of Counties, are also appointed by the Governor to represent their members. Ex officio members serve
          as the 
        </p>
      </div>

      <div id="section1">
        <h3>SEIC's Responsibilities</h3>
        <p>
          Under the provisions of the EO the SIEC has the responsibility to provide policy-level advice regarding
          public safety communications interoperability and to promote the efficient and effective use of resources
          for matters related to public safety communications and interoperability. Governor O’Malley has designated
          the SIEC and Maryland’s Statewide Interoperability Coordinator (SWIC) as the “single point of contact”
          for interface to FirstNet and the SLIGP. The SIEC is responsible for the Statewide Communications Interoperability
          Plan (SCIP) which is updated annually with the Program Management Office (PMO) staff. The SIEC is also
          responsible the deployment, usage, and coordination of the State 700 MHz Frequencies as dictated by
          the Federal Communications Commission. The SIEC meets at least biannually, with additional meetings
          scheduled as needed throughout the year. Decisions from the SIEC are implemented through the position
          of Statewide Interoperability Director (Maryland’s SWIC) who is responsible for the Interoperable Communications
          programs within the State. The EO established the Interoperability Director as a full-time State employee
          who reports directly to the State Police Superintendent. He directs the PMO which is responsible for
          projects to improve public safety communications systems within the State. Current projects include:
        </p>
        <ul>
          <li>the statewide 700 MHz radio communications system;</li>
          <li>the Computer Aided Dispatch/Records Management System (CAD/RMS); and  </li>
          <li>the Closed Circuit Television (CCTV) coordination and integration system; and  </li>
          <li>Planning for FirstNet in Maryland!</li>
        </ul>
      </div>
      <div id="">
        <h3>Regional Interoperability Governance Bodies</h3>
        <img src="../img/interopregions.png" alt="" class="pull-right" id="interoperability"/>
        <p>The State of Maryland is organized into five interoperability regions as shown on the map. Each region
          has established a governance structure and charter to oversee the development of interoperable communications.
          Each region nominates a member to serve as a voting member of the SIEC and on the PSC, which reports
          to the SIEC. Upon the advice of the PMO, the Governor appoints these regional representatives to the
          SIEC and the PSC. In some regions, one person fills both positions. In other regions, there is a different
          representative  for the SIEC and the PSC. The SIEC gives much weight to the input, recommendations,
          and counsel from these regional representatives, as they are the radio system managers and public safety
          communications practitioners in the field. More information of each of these regional entities can be
          found on the side menu.&nbsp;  </p>
      </div>

    </div>
  </div>
</div>
