<%-contentFor('body')%>
 <div class="rslideshow">
   <!-- Step 15 : Add Montage header, desc, images and links -->
   <h1>Home</h1>
   <ul id="mdgov_featuredMontage" class="HideMontageImages">
     <li>
       <a href="#/">
         <hgroup>
           <h2>Slide 1 title</h2>
           <h3>Optional, short description slide 1</h3>
         </hgroup>
         <img src="../egov/img/blackeyedsusans.jpg" alt="" />
       </a>
     </li>
     <li>
       <a href="#/">
         <hgroup>
           <h2>Slide 2 title</h2>
           <h3>Optional, short description slide 2</h3>
         </hgroup>
         <img src="../egov/img/baybridge.jpg" alt="" />
       </a>
     </li>
     <li>
       <a href="#/">
         <hgroup>
           <h2>Slide 3 title</h2>
           <h3>Optional, short description slide 3</h3>
         </hgroup>
         <img src="../egov/img/harbor.jpg" alt="" />
       </a>
     </li>
   </ul>
 </div>


<!--Script blocks are automatically parsed and put in the bottom of the layout-->
<!--<script src="../js/dist/firstnet-home.js"></script>-->
<script type="text/javascript">
  var startup = function() {
    console.log('Javascript is working!');
  };
</script>
