<%-contentFor('body')%>

<div class="row-fluid">
  <div class="span7">
    <div class="rslideshow">
      <!-- Step 15 : Add Montage header, desc, images and links -->
      <!--<h1>Home</h1>-->
      <h1>Maryland's FirstNet Program</h1>
      <ul id="mdgov_featuredMontage" class="HideMontageImages">
        <li>
          <a href="../why/index">
            <hgroup>

              <h2>Why we need FirstNet</h2>
            </hgroup>
            <img src="../img/Why.png" alt="Click here to learn why we need FirstNet." class="slideshow-img" />
          </a>
        </li>
       <li>
          <a href="../how/index">
            <hgroup>
              <h2>How it gets built</h2>
            </hgroup>
            <img src="../img/How.png" alt="Click here to learn how it will get built." class="slideshow-img" />
          </a>
        </li>
       <li>
          <a href="../progress/index">
            <hgroup>

              <h2>Check our progress</h2>
            </hgroup>
            <img src="../img/Progress.png" alt="Click here to learn about our progress." class="slideshow-img" />
          </a>
        </li>
        <li>
          <a href='#' onclick="openPage('https://mdinterop.sharepoint.com/_layouts/15/guestaccess.aspx?guestaccesstoken=YnmdgkJnC5aFqLw8GHcGoKgkm8uRKEfSCKKh2UoDZrI%3d&docid=1_1472205947605477eb201654484f97ae3&wdFormId=%7B61314411%2D62A4%2D43D3%2DAD11%2DA2FACAB2B5FF%7D')">
            <hgroup>

              <h2>Contact Us</h2>
            </hgroup>
            <img src="../img/Contact.png" alt="Click here to contact us." class="slideshow-img" />
          </a>
        </li>
      </ul>
    </div>
    <p>
      Welcome to the Internet home of the team Preparing Maryland for FirstNet. The Maryland InterOp Team is working to prepare our
      state for the design, deployment, and eventual operation of our Nation's first Public Safety Broadband
      Network. Explore these pages to learn more about the project, the process, and our mission.
    </p>
    <table>
      <tr>
        <td>
            <button onclick="openPage('https://mdinterop.sharepoint.com/_layouts/15/guestaccess.aspx?guestaccesstoken=YnmdgkJnC5aFqLw8GHcGoKgkm8uRKEfSCKKh2UoDZrI%3d&docid=1_1472205947605477eb201654484f97ae3&wdFormId=%7B61314411%2D62A4%2D43D3%2DAD11%2DA2FACAB2B5FF%7D')" style="color:white; min-width:133px; background-color: #b00000; border-radius: 10px; height: 50px; padding: 5px; font-size:1.66em"><strong>Contact Us!</strong></button>
        </td>
        <td>
            <button onclick="openPage('https://twitter.com/MDInterOp')" style="background-color: #b00000; border-radius: 10px; height: 50px; padding: 10px;"><img src="/img/Twitter_logo_white.png" alt="twitter logo" style="width:30px"></img></button>
        </td>
        <td>
            <button onclick="openPage('https://www.linkedin.com/company/maryland-broadband-team?trk=company_logo')" style="background-color: #b00000; border-radius: 10px; height: 50px; padding: 5px;"><img src="/img/LinkedIn_logo_white.png" alt="twitter logo" style="width:30px"></img></button>
        </td>
      </tr>
    </table>
    <iframe src="" frameborder="0">Did not display...</iframe>
  </div>

  <div class="span5">
    <div class="col-content">
      <!-- Step 10 : Add agency announcements and links -->
      <!--<div id="announcements">
              <h3>Announcements</h3>
              <p>
                <a href="#/">Announcement Headline</a>
                <br>
                Announcement subtext. This could be a single line, or a paragraph of text...
              </p>
              <p>
                <a href="#/">Announcement Headline</a>
                <br>
                Announcement subtext. This could be a single line, or a paragraph of text...
              </p>
              <p><a href="#/">More Announcements >></a></p>
            </div>-->
      <div id="tweets">
        <div class="">
          <a class="twitter-timeline" href="https://twitter.com/MDInterOp" data-widget-id="520656713062436864">Tweets
            by @MDInterOp
          </a>
        </div>
      </div>
      <div>
        <iframe width="395" height="236" src="//www.youtube.com/embed/32MzIwbxI8w" frameborder="0" allowfullscreen="1">
        </iframe>
      </div>
    </div>
  </div>
</div>


<!--Script blocks are automatically parsed and put in the bottom of the layout-->
<!--<script src="../js/dist/firstnet-home.js"></script>-->
<script type="text/javascript">
  var startup = function() {
    console.log('Javascript is working!');
  };
</script>
