<%-contentFor('body')%>

<div class="row-fluid">
  <div class="span7">
    <div class="rslideshow">
      <!-- Step 15 : Add Montage header, desc, images and links -->
      <!--<h1>Home</h1>-->
      <h1>Maryland's FirstNet Program</h1>
      <ul id="mdgov_featuredMontage" class="HideMontageImages">
        <li>
          <a href="../about/index">
            <hgroup>

              <h2>What is FirstNet?</h2>
            </hgroup>
            <img src="../img/SlideShow1.jpg" alt="Policeman holding a rugged tablet" class="slideshow-img" />
          </a>
        </li>
        <li>
          <a href="../governance/index">
            <hgroup>
              <h2>FirstNet's Leadership</h2>
            </hgroup>
            <img src="../img/SlideShow2.jpg" alt="Aerial view of stakeholders and FirstNet team members" class="slideshow-img" />
          </a>
        </li>
        <li>
          <a href="../process/index">
            <hgroup>
              <h2>Moving FirstNet Forward</h2>
            </hgroup>
            <img src="../img/SlideShow3.png" alt="Flowchart of state decision process" class="slideshow-img" />
          </a>
        </li>
      </ul>
    </div>
    <p>
      Welcome to the Internet home of the team Preparing Maryland for FirstNet. Under the guidance of Maryland's
      Statewide Interoperability Coordinator Ray Lehr, the Maryland InterOp Team is working to prepare our
      state for the design, deployment, and eventual operation of our Nation's first Public Safety Broadband
      Network. Explore these pages to learn more about the project, the process, and our mission.
    </p>
    <p>
      The First Responder Network Authority (FirstNet) was created by Congress in 2012 to establish a nationwide
      broadband network for public safety. The final recommendation of the 9/11 Commission, the network will
      connect police officers, firefighters and EMS providers like never before. Please watch the video below
      for more information.
    </p>
    <p>
      Mission & Vision: Provide emergency responders with the first nationwide, high-speed, wireless broadband
      network dedicated to public safety.
    </p>


  </div>

  <div class="span5">
    <div class="col-content">
      <!-- Step 10 : Add agency announcements and links -->
      <!--<div id="announcements">
              <h3>Announcements</h3>
              <p>
                <a href="#/">Announcement Headline</a>
                <br>
                Announcement subtext. This could be a single line, or a paragraph of text...
              </p>
              <p>
                <a href="#/">Announcement Headline</a>
                <br>
                Announcement subtext. This could be a single line, or a paragraph of text...
              </p>
              <p><a href="#/">More Announcements >></a></p>
            </div>-->
      <div id="tweets">
        <div class="">
          <a class="twitter-timeline" href="https://twitter.com/MDInterOp" data-widget-id="520656713062436864">Tweets
            by @MDInterOp
          </a>
        </div>
      </div>
      <div>
        <iframe width="395" height="236" src="//www.youtube.com/embed/32MzIwbxI8w" frameborder="0" allowfullscreen="1">
        </iframe>
      </div>
    </div>
  </div>

</div>


<!--Script blocks are automatically parsed and put in the bottom of the layout-->
<!--<script src="../js/dist/firstnet-home.js"></script>-->
<script type="text/javascript">
  var startup = function() {
    console.log('Javascript is working!');
  };
</script>
