<%-contentFor('body')%>
<div class="row-fluid">
  <div class="span3">
    <section id="subNav1" class="primary_left_col_list">
      <!-- Step 14: Quick Nav menu 1 -->
      <header>
        <h2 data-target="subNav1">Overview</h2>
      </header>
      <div class="subNavWrapper">
        <ul class="cl_iconNav">
          <li><a href="#section1">Consultation</a></li>
          <li><a href="#section2">Collecting Data & User Needs</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="span9">
    <div class="col-content">
      <div id="">
        <h3>The Process</h3>
        <p>
          Since the Act passed in 2012 there has been a lot of progress on the FirstNet project. FirstNet has
          staffed up - hiring experts in designing, deploying, and operating broadband data network. States, like
          Maryland, have also been busy. Maryland has used its portion of the state and local implementation grant
          funds to hire the broadband team, and start the outreach and data collection process.
          
        </p>
        <div class="clearFix"></div>
      </div>
      <div id="section1">
        <h3>Consultation</h3>        
        <img src="../img/consultation%20photo.jpg" alt="" class="pull-right" id="consultation" />
        <p>
          The Act requires that FirstNet consult with states on the design of the national public safety broadband
          network (NPSBN). This iterative process, often referred to simply as “consultation”, will produce a
          Radio Access Network Plan for deployment of the NPSBN in Maryland.
         </p>
        <p>
          On July 29th, Maryland became the first state to begin the formal consultation process. You can read
          more about that meeting on FirstNet's blog. This initial consultation meeting brought together senior
          FirstNet leadership and Maryland public safety, I/T, and executive leaders (pictured at right). The
          MDInterop Team has prepared 13 suggestions/lessons learned to help other states prepare for consultation.
          Maryland will build on this initial meeting, collecting user requirements, continuing to exchange ideas,
          requirements, and design proposals with FirstNet as the consultation process continues. 
        </p>
        
      </div>
      <div id="section2">
        <h3>Collecting Data & User Needs</h3>
        <p>
          In Maryland process of getting to a final plan for the deployment and operation of the network will
          involve:  
        </p>
        <ol>
          <li>Collecting stakeholder thoughts, ideas, feedback and comments through active outreach;</li>
          <li>Turning the data shared by stakeholders into actionable information that can be used to create the
            plan for FirstNet deployment and operation in Maryland; and finally.</li>
          <li>Sharing that data through a process called "consultation" with the federal FirstNet team, so they
            can work interactively with Maryland to develop a final plan that meets the needs of Maryland's first
            responders.</li>
        </ol>
        <img src="../img/mdprocess3.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
