<%-contentFor('body')%>
<div class="row-fluid">
  <div class="span3">
    <section id="subNav1" class="primary_left_col_list">
      <!-- Step 14: Quick Nav menu 1 -->
      <header>
        <h2 data-target="subNav1">Overview</h2>
      </header>
      <div class="subNavWrapper">
        <ul class="cl_iconNav">
          <li><a href="index">SEIC's Responsibilities</a></li>
          <li><a href="wagin">Western Interoperability Region (WAGIN)</a></li>
          <li>
            <a href="ncr">Northern Interoperability Region - Central Maryland Area Radio Communications</a>
          </li>
          <li>
            <a href="cmarc">Northern Interoperability Region - Central Maryland Area Radio Communications </a>
          </li>
          <li>
            <a href="smiec">Southern Interoperability Region - Southern Maryland Interoperable Executive </a>
          </li>
          <li>
            <a href="esca">Eastern Interoperability Region – Eastern Shore Communications Alliance </a>
          </li>
          <li><a href="siec">SIEC Membership</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="span9">
    <div class="col-content">
      <div>
        <h3>Northern Interoperability Region - Central Maryland Area Radio Communications (CMARC)</h3>
        <p>
          After the terrorist attack on the United States on September 1, 2001, a comprehensive review of security
          vulnerabilities was launched by public safety personnel in Central Maryland. Wireless radio interoperability,
          between public safety personnel in local jurisdictions and those working for the State and Federal governments
          was identified as one of the biggest vulnerability gaps. This gap was consistent with findings of national
          commissions that reviewed the 9/11 attack. As a result, funding to correct this problem was provided
          through various grants administered by the U.S. Departments of Justice and Homeland Security. The Central
          Maryland region was identified for special homeland security funding via 
          <br />
          Urban Area Security Initiative (UASI) grants. The Baltimore Urban Area Working Group, a committee of
          public safety
          leaders under the direction of elected leadership who were members of the Baltimore Metropolitan Council,
          was formed and immediately directed the establishment of a sub-committee to address vulnerabilities
          related to wireless radio interoperability.  

        </p>
        <p>
          The Baltimore Urban Area Working Group (BUAWG) By-Laws provide the specific governance structure that
          oversees interoperable communications policy. The Baltimore Metropolitan Council Executive Group, the
          BUAWG, and the Central Maryland Area Radio Communications (CMARC) Oversight Committee work in tandem
          to address wireless radio interoperability issues in Central Maryland. CMARC, a standing committee as
          defined by Article V of the By-laws for the Baltimore Urban Area Working Group is responsible for developing,
          overseeing and implementing the solutions to wireless radio interoperability issues on behalf of the
          BUAWG.  
        </p>
        <p>
          The following agencies are members of the CMARC Oversight Committee: Emergency Management for Anne Arundel
          County, Baltimore City, Baltimore County, Carroll County, Harford County, Howard County and the State
          of Maryland; Law Enforcement providers for Anne Arundel County, Annapolis City, Baltimore City, Baltimore
          County, Carroll County, Harford County, Howard County and the State of Maryland; Fire/EMS providers
          for Anne Arundel County, Annapolis City, Baltimore City, Baltimore County, Carroll County, Harford County
          and Howard County; Health Departments using wireless public safety radio systems in Anne Arundel County,
          Baltimore City, Baltimore County, Carroll County, Harford County and Howard County; Department of Public
          Works and utilities using the wireless public safety radio systems in Anne Arundel County, Baltimore
          City, Baltimore County, Carroll County, Harford County and Howard County and other providers at the
          State and Federal levels.   
        </p>
        <p>
          CMARC committee meetings are open to members from any agency at any level of government with a need
          for public safety radio interoperability. Voting members include participants from the agencies listed
          above. The chair of the CMARC Committee is appointed by the BUAWG Chair and is responsible for scheduling
          and overseeing committee meetings and producing minutes of the meetings. Two subcommittees report to
          the CMARC Chair. The first subcommittee is responsible for technical issues related to system design
          and implementation. The second subcommittee is the User’s Group which is responsible for identifying
          interoperability gaps and needs as well as the development and implementation of operating procedures.
          PMO staff participate in CMARC's meetings to provide input on Statewide projects and to act as a liaison
          to the State and the SIEC. PMO staff also attend and participate in exercise and training programs and
          workshops.

        </p>
      </div>
    </div>
  </div>
</div>
