<%-contentFor('body')%>
<div class="row-fluid">
  <div class="span3">
    <section id="subNav1" class="primary_left_col_list">
      <!-- Step 14: Quick Nav menu 1 -->
      <header>
        <h2 data-target="subNav1">Overview</h2>
      </header>
      <div class="subNavWrapper">
        <ul class="cl_iconNav">
          <li><a href="index">SEIC's Responsibilities</a></li>
          <li><a href="wagin">Western Interoperability Region (WAGIN)</a></li>
          <li>
            <a href="ncr">Northern Interoperability Region - Central Maryland Area Radio Communications</a>
          </li>
          <li>
            <a href="cmarc">Northern Interoperability Region - Central Maryland Area Radio Communications </a>
          </li>
          <li>
            <a href="smiec">Southern Interoperability Region - Southern Maryland Interoperable Executive </a>
          </li>
          <li>
            <a href="esca">Eastern Interoperability Region – Eastern Shore Communications Alliance </a>
          </li>
          <li><a href="siec">SIEC Membership</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="span9">
    <div class="col-content">
      <div>
        <h3>Eastern Interoperability Region – Eastern Shore Communications Alliance (ESCA)</h3>
        <p>
          ESCA is comprised of the directors of emergency services from every county on the Eastern Shore and
          Ocean City. ESCA is a cooperative alliance that serves as the Shore’s interoperability governance body.
          ESCA meets regularly to discuss interoperability and other issues facing public safety answering points
          and emergency managers on the Shore. ESCA coordinates interoperability trainings and exercises, as well
          as drafts and maintains regional standard operating procedures and Tactical Interoperable Communications
          Plans. ESCA manages the Maryland Eastern Shore Interoperability Network (MESIN), the Shore’s primary
          technical interoperability solution. As a group, ESCA sets regional interoperability policy, and works
          with State and federal partners on interoperability issues.  
        </p>
        <p>Through its seats on Maryland’s interoperability governance structures, the SIEC and the PSC, the Eastern
          region participates in statewide interoperability efforts. This collaboration between the state and
          local levels ensures that interoperability initiatives in the Eastern region remain in alignment with
          the SCIP.
        </p>
      </div>
    </div>
  </div>
</div>
