<%-contentFor('body')%>
<div class="row-fluid">
  <div class="span3">
    <section id="subNav1" class="primary_left_col_list">
      <!-- Step 14: Quick Nav menu 1 -->
      <header>
        <h2 data-target="subNav1">Overview</h2>
      </header>
      <div class="subNavWrapper">
        <ul class="cl_iconNav">
          <li><a href="index">SEIC's Responsibilities</a></li>
          <li><a href="wagin">Western Interoperability Region (WAGIN)</a></li>
          <li>
            <a href="ncr">Northern Interoperability Region - Central Maryland Area Radio Communications</a>
          </li>
          <li>
            <a href="cmarc">Northern Interoperability Region - Central Maryland Area Radio Communications </a>
          </li>
          <li>
            <a href="smiec">Southern Interoperability Region - Southern Maryland Interoperable Executive </a>
          </li>
          <li>
            <a href="esca">Eastern Interoperability Region – Eastern Shore Communications Alliance </a>
          </li>
          <li><a href="siec">SIEC Membership</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="span9">
    <div class="col-content">
      <div>
        <h3>The NCR Interoperability Region</h3>
        <p>
          In 2005, the NCR Interoperability Program (NCRIP), a regional initiative, was established to create
          digital networks and systems interoperability for public safety and emergency response. As part of this
          effort, a project was established to interconnect the institutional networks of the NCR governments
          called NCRnet. NCRnet is intended to provide a survivable infrastructure linking Maryland, Virginia
          and DC NCR jurisdictions together for the benefit of first responders both in regional emergencies and
          in routine operations. The NCRnet project will provide network infrastructure necessary to allow secure,
          non-commercial, government-controlled access to critical regional communications systems and to facilitate
          real time, inter-regional, and cross-ESF communications. This infrastructure will allow the Emergency
          Support Functions (ESFs) to succeed in their mission of building and sustaining an integrated effort
          to prepare for, prevent, protect against, respond to, and recover from all-hazards, threats or events.
          Prince George’s County in Maryland is the lead agency for this project and Montgomery and Frederick
          Counties are participants along with the cities of Gaithersburg, Rockville, College Park, and Greenbelt.
        </p>
        <p>
          In addition, as members of the Washington Metropolitan Council of Governments, an interstate organization
          with members in Maryland, the District of Columbia, and Virginia, the NCR counties in the State have
          more than a decade of interoperability and working together in operation on the intrastate level. The
          Maryland NCR counties have the ability to directly go on to each other's systems for seamless interoperability
          within the State. When direct seamless interoperability can’t exist because of frequency differences,
          normally other permanent gateways are in place. For example the NCR counties share, or have the ability
          to share, the national and regional 700/800MHz.
          <img src="../img/ncrnet.jpg" alt="Diagram and map of NCRnet’s participating jurisdictions along with completed and pending links" class="" />

        </p>
      </div>
    </div>
  </div>
</div>
