<%-contentFor('body')%>
<div class="row-fluid">
  <div class="span3">
    <section id="subNav1" class="primary_left_col_list">
      <!-- Step 14: Quick Nav menu 1 -->
      <header>
        <h2 data-target="subNav1">Overview</h2>
      </header>
      <div class="subNavWrapper">
        <ul class="cl_iconNav">
          <li><a href="index">SEIC's Responsibilities</a></li>
          <li><a href="wagin">Western Interoperability Region (WAGIN)</a></li>
          <li>
            <a href="ncr">Northern Interoperability Region - Central Maryland Area Radio Communications</a>
          </li>
          <li>
            <a href="cmarc">Northern Interoperability Region - Central Maryland Area Radio Communications </a>
          </li>
          <li>
            <a href="smiec">Southern Interoperability Region - Southern Maryland Interoperable Executive </a>
          </li>
          <li>
            <a href="esca">Eastern Interoperability Region – Eastern Shore Communications Alliance </a>
          </li>
          <li><a href="seic">SEIC Membership</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="span9">
    <div class="col-content">
      <div>
        <h3>SIEC Membership</h3>
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <td>Organization</td>
              <td>Individual</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Chair</td>
              <td>Colonel Marcus Brown Superintendent Maryland State Police</td>
            </tr>
            <tr>
              <td>Maryland State Firemen's Association</td>
              <td>Chip Jewell Director Dept. of Emergency communications Frederick County</td>
            </tr>
            <tr>
              <td>​Metropolitan Fire Chiefs Council of Maryland</td>
              <td>John Hohman Fire Chief Baltimore County Fire Dept</td>
            </tr>
            <tr>
              <td>Maryland Sheriff's Association</td>
              <td>Douglas Mullendore Sheriff Washington County</td>
            </tr>
            <tr>
              <td>Maryland Chiefs of Police Association</td>
              <td>Michael Scott Chief of Police Mount Rainier Police Dept.</td>
            </tr>
            <tr>
              <td>Maryland Fraternal Order of Police</td>
              <td>​Daniel Sheffield Lieutenant Prince George's County Police Dept.</td>
            </tr>
            <tr>
              <td>Professional Firefighters of Maryland</td>
              <td>Vacant</td>
            </tr>
            <tr>
              <td>State Law Enforcement Labor Alliance (SLEOLA)</td>
              <td>Robert G. Iman Jr. Trooper First Class Maryland State Police</td>
            </tr>
            <tr>
              <td>American Federation of State County and Municipal Employees of Maryland (AFSCME Maryland)</td>
              <td>Raymond Edwards State Highway Administration</td>
            </tr>
            <tr>
              <td>Maryland Municipal League (MML)</td>
              <td>Craig A. Moe Mayor Laurel</td>
            </tr>
            <tr>
              <td>Maryland Association of Counties (MACo)</td>
              <td>Clay B. Stamp Director of Emergency Services Talbot County</td>
            </tr>
            <tr>
              <td>Western Maryland</td>
              <td>​Kevin L. Lewis Director Division of Emergency Services Washington County</td>
            </tr>
            <tr>
              <td>​Eastern Maryland</td>
              <td>​Wayne Darrell Emergency Services Director Kent County</td>
            </tr>
            <tr>
              <td>Southern Maryland</td>
              <td>​Tony Rose Chief Communications & 9-1-1 Emergency Services Charles County</td>
            </tr>
            <tr>
              <td>​National Capital Region</td>
              <td>​Harash Segal Chief Information Officer Montgomery County</td>
            </tr>
            <tr>
              <td>​North Central Maryland</td>
              <td>Patrick Walsh Battalion Chief Baltimore City Fire Department</td>
            </tr>
            <tr>
              <td>​Maryland Institute for Emergency Medical Services Systems (MIEMSS)</td>
              <td>Dr. Rick Alcorta Acting Co-Executive Director Maryland Institute for Emergency Medical Services Systems</td>
            </tr>
            <tr>
              <td>Maryland State Interoperability Director</td>
              <td>​Ray Lehr Interoperability Director State of Maryland</td>
            </tr>
            <tr>
              <td>​Maryland Department of Information Technology</td>
              <td>​Isabel FitzGerald Secretary Department of Information Technology</td>
            </tr>
            <tr>
              <td>​Maryland Department of Transportation (MDOT)</td>
              <td>James T. Smith Jr. Secretary Maryland Department of Transportation</td>
            </tr>
            <tr>
              <td>​Maryland Department of National Guard (MDNG)</td>
              <td>​Brigadier General James A. Adkins Adjutant General Maryland Department of National Guard</td>
            </tr>
            <tr>
              <td>Maryland Emergency Management Agency (MEMA)</td>
              <td>​Kenneth J. Mallette Executive Director Maryland Emergency Management Agency</td>
            </tr>
            <tr>
              <td>​Maryland Department of Public Safety and Correctional Services (DPSCS)</td>
              <td>​Ronald C. Brothers CIO Information Technology & Communications Division Maryland Department of Public Safety and Correctional Services</td>
            </tr>
            <tr>
              <td>​Maryland Department of Natural Resources (DNR)</td>
              <td>​Colonel George F. Johnson Superintendent Maryland Department of Natural Resources Police</td>
            </tr>
            <tr>
              <td>Maryland Department of Budget and Management (DBM)</td>
              <td>​T. Eloise Foster Secretary Maryland Department of Budget and Management</td>
            </tr>
            <tr>
              <td>​Office of the Governor</td>
              <td>​Andrew Lauland Governor's Homeland Security Advisor Governor's Office of Homeland Security</td>
            </tr>
            <tr>
              <td>​Maryland State Senate</td>
              <td>​James E. De Grange Sr. Senator District 32 Anne Arundel County</td>
            </tr>
            <tr>
              <td>Maryland House of Delegates</td>
              <td>​Adrienne A. Jones Delegate District 10 Baltimore County</td>
            </tr>
            <tr>
              <td>​At-Large Member</td>
              <td>​Kenneth Coppage Radio System Director Department of Information Technology</td>
            </tr>
            <tr>
              <td>​At-Large Member</td>
              <td>​Darien Manley Division Chief of Communications Maryland State Highway Administration</td>
            </tr>
            <tr>
              <td>​At-Large Member</td>
              <td>​R. Earl Lewis Jr. Deputy Chief of Emergency Preparedness and HLS Projects Program Manager Office of Safety Quality Assurance and Risk Management Maryland Transit Administration</td>
            </tr>
            <tr>
              <td>​At-Large Member</td>
              <td>Kathie Raynor Traffic Management & Telecommunication Systems Administrator Maryland Transportation Authority</td>
            </tr>
            <tr>
              <td>​At-Large Member</td>
              <td>​R. Ross Coates Public Safety Communications Manager Division of Emergency Operations Harford County</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
