<%-contentFor('body')%>
<div class="row-fluid">
  <div class="span3">
    <section id="subNav1" class="primary_left_col_list">
      <!-- Step 14: Quick Nav menu 1 -->
      <header>
        <h2 data-target="subNav1">Overview</h2>
      </header>
      <div class="subNavWrapper">
        <ul class="cl_iconNav">
          <li><a href="index">SEIC's Responsibilities</a></li>
          <li><a href="wagin">Western Interoperability Region (WAGIN)</a></li>
          <li>
            <a href="ncr">Northern Interoperability Region - Central Maryland Area Radio Communications</a>
          </li>
          <li>
            <a href="cmarc">Northern Interoperability Region - Central Maryland Area Radio Communications </a>
          </li>
          <li>
            <a href="smiec">Southern Interoperability Region - Southern Maryland Interoperable Executive </a>
          </li>
          <li>
            <a href="esca">Eastern Interoperability Region – Eastern Shore Communications Alliance </a>
          </li>
          <li><a href="seic">SEIC Membership</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="span9">
    <div class="col-content">
      <div>
        <h3>Southern Interoperability Region - Southern Maryland Interoperable Executive Committee (SMIEC)</h3>
        <p>
          The three counties in Southern Maryland -- Calvert, Charles, and St. Mary's - have established a Regional
          Governance Structure that has been formally approved in the form of Articles signed by all three Boards
          of County Commissioners. Each County appoints three members to the Executive Governance Group. The composition
          includes: a member of the County Commissioners or another elected or appointed official of the County;
          the Public Safety or Emergency Services Director of the County; and a citizen of the County appointed
          by the Commissioners. There is a Practitioner Steering Committee comprised of up to five members from
          each County that are appointed by the Executive Governance Group. The mission of the SMIEC is to promote
          public safety Communications and interoperability program. The Committee meets to manage and advise
          on projects, issues, and funding sources dealing with interoperability in the region and State. The
          SMIEC has overseen regional drills and is now overseeing the process of the build-out of the National
          Mutual Aid radio systems in the Southern Maryland region, which will enhance regional interoperability.
        </p>
      </div>
    </div>
  </div>
</div>
