<%-contentFor('body')%>
<div class="row-fluid">
  <div class="span3">
    <section id="subNav1" class="primary_left_col_list">
      <!-- Step 14: Quick Nav menu 1 -->
      <header>
        <h2 data-target="subNav1">Overview</h2>
      </header>
      <div class="subNavWrapper">
        <ul class="cl_iconNav">
          <li><a href="index">SEIC's Responsibilities</a></li>
          <li><a href="#">Western Interoperability Region (WAGIN)</a></li>
          <li>
            <a href="#section3">Northern Interoperability Region - Central Maryland Area Radio Communications</a>
          </li>
          <li>
            <a href="#section4">Southern Interoperability Region - Southern Maryland Interoperable Executive </a>
          </li>
          <li>
            <a href="#section5">Eastern Interoperability Region – Eastern Shore Communications Alliance </a>
          </li>
          <li><a href="#section6">SEIC Membership</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="span9">
    <div class="col-content">
      <div>
        <h3>Western Interoperability Region (WAGIN)</h3>
        <p>
          The Maryland counties of Washington, Allegany and Garrett, in partnership with the State of Maryland,
          have builta three-county radio interoperability network connecting their public safety mobile radio
          systems and linking with the radio systems of three state agencies. The federally funded new system,
          known as the Washington-Allegany-Garrett Interoperability Network (WAGIN) was made operational November
          of 2010. The WAGIN system was built utilizing IP Interoperability and Collaboration System (IPICS) technology
          from CISCO Systems. This system accommodates physical radio connections, ersonal computers, IP phone
          users, and Public Switched Telephone Network (PSTN) connections. The WAGIN open standards-based system
          is consistent with the Maryland SCIP.  
        </p>
        <p>
          The WAGIN Governance document, recently updated and signed by all three counties in March 2011, established
          the WAGIN Work Group and Executive Committee. The purpose of the WAGIN Workgroup is to make and implement
          decisions concerning the development of plans and policies pertaining to communication capabilities
          and the use of funds for regional interoperability projects, in order to increase the capability of
          member jurisdictions to prevent, prepare for, respond to and recover from incidents and disasters. The
          Executive Committee is the decision-making body of the Work Group and is vested with the full authority
          and duties of the Work Group itself. The senior elected officials in each of the three WAGIN jurisdictions
          have authorized the Executive Committee to determine the use of all funds available to the Region for
          interoperability initiatives. The Executive Committee is comprised of one voting member from each of
          the three counties. The Chair of the Executive Committee is elected every two years and is a voting
          member of the SIEC and the PSC. PMO staff participate in WAGIN’s monthly meetings to provide input on
          Statewide projects and to act as a liaison for WAGIN to the State and the SIEC. PMO staff also attend
          and participate in WAGIN’s exercise and training programs and workshops.
        </p>
      </div>           
    </div>
  </div>
</div>
