<%-contentFor('body')%>
<div class="row-fluid">
  <div class="span9">
    <div class="col-content">
      <div id="whatIsFirstnet">
        <h3>What is FirstNet?</h3>
        <p>
          During a major emergency, wireless networks often become overwhelmed with demand. This was the case
          during the 911 terrorist attacks, Hurricane Katrina, and the Minneapolis bridge collapse. Title VI of
          the Middle Class Tax Relief and Job Creation Act of 2012 mandates the establishment of the First Responder
          Network Authority (FirstNet) to "ensure the establishment of a nationwide, interoperable public safety
          broadband network". The Act provided three important things:  
        </p>
        <p>
          1) Spectrum   
        Allocated the “D-Block” to public safety  
        Added 20MHz (10x10 MHz) to existing Public Safety Frequencies  
        </p>
        <p>
          2) Governance   
        Created the FirstNet Board  
        </p>
        <p>
          3) Funding   
        $7B for deployment and operations  
        $135M for state implementation planning  
        </p>
        <p>
          The mission of FirstNet is to provide emergency responders with the first nationwide, high-speed, wireless
          broadband network dedicated to public safety.
        </p>
      </div>
      <div id="whyNeedFirstNet">
        <h3>Why do we need FirstNet?</h3>
        <ol>
          <li>Commercial networks crash when too many users attempt to access the network.</li>
          <li>
            Commercial networks' physical infrastructure can become damaged during server weather like Katrina and
            Sandy.  
          </li>
          <li>Commercial devices don't sand-up to first responder use.</li>
        </ol>
      </div>
      <div id="aDedicatedNetwork">
        <h3>A Dedicated Data Network</h3>
        <p>
          FirstNet will be a data network built to provide broadband wireless coverage to first responder mobile
          devices. Similar to commercial networks, FirstNet will be a state-of-the-art 4G LTE network, providing
          a broadband data connection to tablets, laptops, phones, wearable tech, and the other wireless devices
          that have changed our world. Unlike a commercial network, FirstNet will be hardened to public safety
          grade, so that first responders will be able to rely on FirstNet to perform its mission critical task
          in the worst of conditions.
        </p>
        <p>
          The network will depend on four discrete components; 
          <a href="http://www.firstnet.gov/network#Core">the core network</a>, 
          <a href="http://www.firstnet.gov/network#Transport">transport backhaul</a>, 
          <a href="http://www.firstnet.gov/network#Radio">radio access network (RAN)</a>, and 
          <a href="http://www.firstnet.gov/network#Public">public safety devices</a> to receive the information.
        </p>
      </div>
      <div id="howCanIGetInvolved">
        <h3>How can I get Involved?</h3>
        <p>
          Follow us on social media for the latest updates!  
          <br />
          <br />
          <a href="">Twitter</a>
          <br />
          <a href="">Facebook</a>
          <br />
          <a href="">LinkedIn</a>
          <br />
          <br />
          Email us 
          <br />
          <a href="mailto:info@mdinterop.onmicrosoft.com" target="_top">info@mdinterop.onmicrosoft.com
          </a>
          <br />
          <br />
          Contact us directly:  
        </p>
        <ul class="unstyled">
          <li>
            <a href="mailto:lori@mdinterop.onmicrosoft.com" target="_top">lori@mdinterop.onmicrosoft.com
            </a>
          </li>
          <li>
            <a href="mailto:chris@mdinterop.onmicrosoft.com" target="_top">chris@mdinterop.onmicrosoft.com
            </a>
          </li>
          <li>
            <a href="mailto:max@mdinterop.onmicrosoft.com" target="_top">max@mdinterop.onmicrosoft.com
            </a>
          </li>
          <li>
            <a href="mailto:ben@mdinterop.onmicrosoft.com" target="_top">ben@mdinterop.onmicrosoft.com
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
