<%-contentFor('body')%>      
<div class="accordion" id="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="accordion-toggle">Q. What
          are the differences between
                FirstNet & Maryland FiRST? 
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>
          A. Maryland is currently in the process of deploying a statewide Land Mobile Radio (LMR) system as part
          of a project (somewhat confusingly) called "Maryland FiRST." FirstNet will NOT be replacing current
          mission-critical
                LMR systems, like MD FiRST. Instead, FirstNet will be providing data connections to wireless devices.
          Mission critical voice communications will remain on LMR systems for the foreseeable future.
                <img src="../img/mdfirst%20and%20firstnet.png" alt="Comparison of FirstNet and Maryland First. FirstNet will be an LTE data network led by the federal government and is in the planning stages. Maryland First is a LMR system for voice led by the State of Maryland and is in its implementation stage. " />

        </p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="accordion-toggle">Q. What
          is the First Responder
                Network Authority (FirstNet)?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>
          A. FirstNet is an independent authority within the U.S. Department of Commerce’s National   
                Telecommunications and Information Administration. FirstNet is governed by a 15-member Board   
                consisting of the Attorney General of the United States, the Secretary of Homeland Security, the
          Director
                of the Office of Management and Budget, and 12 members appointed by the Secretary of Commerce.
          The   
                FirstNet Board is composed of representatives from public safety; local, state and federal government;
          and the wireless industry.  
        </p>
        <p>
          Signed into law on February 22, 2012, the Middle Class Tax Relief and Job Creation Act created FirstNet.
          The law gives FirstNet the duty to build, operate and maintain the first high-speed, nationwide wireless
          broadband network dedicated to public safety entities. FirstNet will provide a single interoperable
          platform for public safety communications.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="accordion-toggle">Q. What
          will be possible with
                the FirstNet network? 
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>
          A. The FirstNet network will enable faster, better coordinated response to natural and manmade disasters.
          Just   
                as smartphones have changed personal lives, FirstNet devices and applications will ultimately
          change
                the   
                way career firefighters and volunteers operate. Imagine a day when one interoperable communications
          network can be used to dispatch an extrication team, a medical helicopter, police and EMS personnel
          from   
                different jurisdictions all at the same time. Fire personnel using the FirstNet network will be
          able
                to share   
                images and applications, and access databases to have a common operational picture as incidents
          unfold.
                FirstNet’s goal is to provide public safety‐grade reliability and extensive coverage so fire personnel
          can   
                count on the network when they are on the job. FirstNet is also aiming to provide coverage solutions
          that let   
                fire personnel “take the network along” to their destination in certain geographies. Incident
          commanders
                and local officials will have local control over the network so, for example, they can assign
          users
                and talk   
                groups and determine who can access applications. 
        </p>
        <p>
          When the FirstNet network launches, it will provide mission‐critical, high‐speed data services to   
                supplement the voice capabilities of today’s Land Mobile Radio (LMR) networks. Initially, the
          FirstNet
                network will be used for sending data, video, images and text. The FirstNet network will also
          carry
                location   
                information and eventually support streaming video. FirstNet plans to offer cellular voice communications
          such as Voice over Long Term Evolution (VoLTE) or other alternatives.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="accordion-toggle">Q. What
          will users pay for FirstNet's
                Services? 
        </a>
      </h4>
    </div>
    <div id="collapse4" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>
          A. FirstNet intends to offer services at a compelling and competitive cost to attract millions of public
          safety   
                users and make FirstNet self‐sustaining. The use of FirstNet’s services and applications will
          be voluntary.
                The costs for FirstNet’s services and devices have not yet been set. 
        </p>
      </div>
    </div>
  </div>
</div>
<!--<div class="row-fluid">-->
<!--<div class="span3">
    <section id="subNav1" class="primary_left_col_list">
      <!-- Step 14: Quick Nav menu 1 -->
<!--<header>
        <h2 data-target="subNav1">Overview</h2>
      </header>
      <div class="subNavWrapper">-->
<!--<ul class="cl_iconNav">
          <li><a href="#">What is FirstNet?</a></li>
          <li><a href="#">Why do we need FirstNet?</a></li>
          <li><a href="#">A dedicated Data Network</a></li>
          <li><a href="#">How can I get involved?</a></li>
        </ul>-->
<!-- </div>
    </section>
  </div>-->
<!-- <div class="span9 offset3">
    <div class="col-content">



      <!-- <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#faq1">
        Q. What are the differences between FirstNet & Maryland FiRST? 
      </button>

      <div id="faq1" class="collapse">
        <p>
          A. Maryland is currently in the process of deploying a statewide Land Mobile Radio (LMR) system as part
          of a project (somewhat confusingly) called "Maryland FiRST". FirstNet will NOT be replacing current
          mission-critical
          LMR systems, like MD FiRST. Instead, FirstNet will be providing data connections to wireless devices.
          Mission critical voice communications will remain on LMR systems for the foreseeable future.
        <img src="../img/mdfirst%20and%20firstnet.png" alt="" />
        </p>

      </div>


      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#faq2">
        Q. What is the First Responder Network Authority (FirstNet)? 
      </button>

      <div id="faq2" class="collapse">
        <p>
          A. FirstNet is an independent authority within the U.S. Department of Commerce’s National   
          Telecommunications and Information Administration. FirstNet is governed by a 15-member Board   
          consisting of the Attorney General of the United States, the Secretary of Homeland Security, the Director
          of the Office of Management and Budget, and 12 members appointed by the Secretary of Commerce. The   
          FirstNet Board is composed of representatives from public safety; local, state and federal government;
          and the wireless industry.  
        </p>
        <p>
          Signed into law on February 22, 2012, the Middle Class Tax Relief and Job Creation Act created FirstNet.
          The law gives FirstNet the duty to build, operate and maintain the first high-speed, nationwide wireless
          broadband network dedicated to public safety entities. FirstNet will provide a single interoperable
          platform for public safety communications.
        </p>
      </div>

      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#faq3">
        Q. What will be possible with the FirstNet network? 
      </button>
      <div id="faq3" class="collapse">
        <p>
          A. The FirstNet network will enable faster, better coordinated response to natural and manmade disasters.
          Just   
        as smartphones have changed personal lives, FirstNet devices and applications will ultimately change
        the   
        way career firefighters and volunteers operate. Imagine a day when one interoperable communications
        network can be used to dispatch an extrication team, a medical helicopter, police and EMS personnel
        from   
        different jurisdictions all at the same time. Fire personnel using the FirstNet network will be able
        to share   
        images and applications, and access databases to have a common operational picture as incidents unfold.
          FirstNet’s goal is to provide public safety‐grade reliability and extensive coverage so fire personnel
          can   
        count on the network when they are on the job. FirstNet is also aiming to provide coverage solutions
        that let   
        fire personnel “take the network along” to their destination in certain geographies. Incident commanders
          and local officials will have local control over the network so, for example, they can assign users
          and talk   
        groups and determine who can access applications. 
        </p>
        <p>
          When the FirstNet network launches, it will provide mission‐critical, high‐speed data services to   
        supplement the voice capabilities of today’s Land Mobile Radio (LMR) networks. Initially, the FirstNet
          network will be used for sending data, video, images and text. The FirstNet network will also carry
          location   
        information and eventually support streaming video. FirstNet plans to offer cellular voice communications
          such as Voice over Long Term Evolution (VoLTE) or other alternatives.
        </p>
      </div>
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#faq4">
        Q. What will users pay for FirstNet's Services? 
      </button>

      <div id="faq4" class="collapse">
        <p>
          A. FirstNet intends to offer services at a compelling and competitive cost to attract millions of public
          safety   
        users and make FirstNet self‐sustaining. The use of FirstNet’s services and applications will be voluntary.
          The costs for FirstNet’s services and devices have not yet been set. 
        </p>
      </div>
    </div>
  </div>
</div>-->
