<%-contentFor('body')%>
<div class="row-fluid">
 <!-- <div class="span3">
    <section id="subNav1" class="primary_left_col_list">-->
      <!-- Step 14: Quick Nav menu 1 -->
      <!--<header>
        <h2 data-target="subNav1">Handouts & One-pageers</h2>
      </header>
      <div class="subNavWrapper">
        <ul class="cl_iconNav">
          <li><a href="#whatIsFirstnet">EMS Factsheet</a></li>
          <li><a href="#whyNeedFirstNet">Fire Services Factsheet</a></li>
          <li><a href="#aDedicatedNetwork">FiRSTNet By The Numbers</a></li>
          <li><a href="#howCanIGetInvolved">Law Enforcement FactSheet</a></li>
          <li><a href="#howCanIGetInvolved">LMR Factsheet</a></li>
        </ul>
      </div>
    </section>
    <section id="Section1" class="primary_left_col_list">-->
      <!-- Step 14: Quick Nav menu 1 -->
      <!--<header>
        <h2 data-target="subNav1">Initial Consultation</h2>
      </header>
      <div class="subNavWrapper">
        <ul class="cl_iconNav">
          <li><a href="#whatIsFirstnet">FirstNet Consultation Prep Pack for Public</a></li>
          <li><a href="#whyNeedFirstNet">FirstNet Consultation Prep Pack for Webinars</a></li>
          <li><a href="#aDedicatedNetwork">MD Initial Consultation Lessons Learned</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="span9">
    <div class="col-content">
      
    </div>
  </div>-->

  <iframe src="http://www.firstnet.gov/newsroom/press-release"></iframe>
</div>
